# Book-Recommender-System

### Import Library Packages

In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

#### Loading and EDA of the Data

In [2]:
## Loading the Datasets

books = pd.read_csv('Data/Books.csv')
rating = pd.read_csv('Data/Ratings.csv')
users = pd.read_csv('Data/Users.csv')

C:\Users\Acer\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3369: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
df1 = books.merge(rating, how='left', on='ISBN')
df0 = df1.merge(users, how='left', on='User-ID')

In [8]:
df = df0.copy()

df.head(20)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,User-ID,Book-Rating,Location,Age
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,2.0,0.0,"stockton, california, usa",18.0
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,8.0,5.0,"timmins, ontario, canada",NaN
2,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,11400.0,0.0,"ottawa, ontario, canada",49.0
3,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,11676.0,8.0,"n/a, n/a, n/a",NaN
4,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,41385.0,0.0,"sudbury, ontario, canada",NaN
5,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,67544.0,8.0,"toronto, ontario, canada",30.0
6,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,85526.0,0.0,"victoria, british columbia, canada",36.0
7,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,96054.0,0.0,"ottawa, ontario, canada",29.0
8,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,116866.0,9.0,"ottawa, ,",NaN
9,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,123629.0,9.0,"kingston, ontario, canada",NaN
10,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,177458.0,0.0,"ottawa, ontario, canada",29.0
11,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,200273.0,8.0,"comber, ontario, canada",NaN
12,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,210926.0,9.0,"guelph, ontario, canada",NaN
13,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,219008.0,7.0,"halifax, nova scotia, canada",60.0
14,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,263325.0,6.0,"fredericton, new brunswick, canada",27.0
15,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,8.0,0.0,"timmins, ontario, canada",NaN
16,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,2954.0,8.0,"wichita, kansas, usa",71.0
17,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,152827.0,7.0,"ottawa, ontario, canada",40.0
18,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,8.0,0.0,"timmins, ontario, canada",NaN
19,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,35704.0,6.0,"kansas city, missouri, usa",53.0

In [5]:
## Size of the Dataset

df.shape

(1032345, 12)

In [6]:
## Deleting missing observations in the Data

df.info()
df.dropna(inplace=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1032345 entries, 0 to 1032344
Data columns (total 12 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   ISBN                 1032345 non-null  object
 1   Book-Title           1032345 non-null  object
 2   Book-Author          1032344 non-null  object
 3   Year-Of-Publication  1032345 non-null  object
 4   Publisher            1032343 non-null  object
 5   Image-URL-S          1032345 non-null  object
 6   Image-URL-M          1032345 non-null  object
 7   Image-URL-L          1032341 non-null  object
 8   User-ID              1031136 non-null  float64
 9   Book-Rating          1031136 non-null  float64
 10  Location             1031136 non-null  object
 11  Age                  753301 non-null   float64
dtypes: float64(3), object(9)
memory usage: 102.4+ MB

In [7]:
## Converting User-ID and Age variable types to int

df['User-ID'] = df['User-ID'].astype('int')
df['Age'] = df['Age'].astype('int')

In [9]:
## Author of the Da Vinci Code written in two different ways

df['Book-Author'] = df['Book-Author'].astype("string")
df['Book-Author'] = df['Book-Author'].str.replace("DAN BROWN", "Dan Brown")

In [11]:
## Removing books with zero ratings from the data set

df = df[df["Book-Rating"]>0]
df["Book-Rating"].describe()

count    383842.000000
mean          7.626701
std           1.841339
min           1.000000
25%           7.000000
50%           8.000000
75%           9.000000
max          10.000000
Name: Book-Rating, dtype: float64

In [12]:
## Unique Reader count

df['User-ID'].nunique()

68091

In [13]:
## How many books users Read

df.groupby('User-ID')['Book-Title'].agg('count').sort_values()

User-ID
138845.0       1
141631.0       1
141640.0       1
141641.0       1
141645.0       1
            ...
23902.0     1180
153662.0    1845
189835.0    1899
98391.0     5691
11676.0     6943
Name: Book-Title, Length: 68091, dtype: int64

In [14]:
## How many times have we read which book?

book_counts = pd.DataFrame(df["Book-Title"].value_counts())

book_counts

                                        Book-Title
The Lovely Bones: A Novel                      707
Wild Animus                                    581
The Da Vinci Code                              494
The Secret Life of Bees                        406
The Nanny Diaries: A Novel                     393
...                                            ...
Jedi Quest - Path to Truth (Star Wars)           1
Walter's Purple Heart                            1
Trapped Fear Street 51                           1
Heather Takes the Reins                          1
From One to One Hundred                          1

[135567 rows x 1 columns]

In [16]:
## Name the Books with Less than 100 reads as rare books

rare_book = book_counts[book_counts["Book-Title"] <= 100].index

In [17]:
rare_book.nunique()

135375

In [18]:
## By removing the rare books from the datasets, we get widely read books

common_book = df[~df["Book-Title"].isin(rare_book)]

common_book.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,User-ID,Book-Rating,Location,Age
31,0399135782,The Kitchen God's Wife,Amy Tan,1991,Putnam Pub Group,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...,11676.0,9.0,"n/a, n/a, n/a",NaN
32,0399135782,The Kitchen God's Wife,Amy Tan,1991,Putnam Pub Group,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...,29526.0,9.0,"knoxville, tennessee, usa",26.0
34,0399135782,The Kitchen God's Wife,Amy Tan,1991,Putnam Pub Group,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...,46398.0,9.0,"san antonio, texas, usa",37.0
36,0399135782,The Kitchen God's Wife,Amy Tan,1991,Putnam Pub Group,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...,49635.0,9.0,"seattle, washington, usa",NaN
37,0399135782,The Kitchen God's Wife,Amy Tan,1991,Putnam Pub Group,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...,67958.0,10.0,"idaho falls, idaho, usa",39.0

In [19]:
## User-Book Matrix

user_book_df = common_book.pivot_table(index=["User-ID"], columns=["Book-Title"], values="Book-Rating")

user_book_df

Book-Title,1984,1st to Die: A Novel,2nd Chance,A Bend in the Road,"A Child Called \It\"": One Child's Courage to Survive""",A Heartbreaking Work of Staggering Genius,A Is for Alibi (Kinsey Millhone Mysteries (Paperback)),A Map of the World,A Painted House,A Prayer for Owen Meany,...,Watership Down,We Were the Mulvaneys,When the Wind Blows,Where the Heart Is (Oprah's Book Club (Paperback)),While I Was Gone,White Oleander : A Novel,White Oleander : A Novel (Oprah's Book Club),Wicked: The Life and Times of the Wicked Witch of the West,Wild Animus,"\O\"" Is for Outlaw"""
User-ID,,,,,,,,,,,,,,,,,,,,,
16.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
278800.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
278836.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
278843.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
278844.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
278846.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
## We Choose Simple Filter

book_name = "The Da Vinci Code"

In [21]:
book_name = user_book_df[book_name]
book_name.sort_values(ascending=False)

User-ID
638.0       10.0
83443.0     10.0
240946.0    10.0
240567.0    10.0
237805.0    10.0
            ...
278800.0     NaN
278836.0     NaN
278843.0     NaN
278844.0     NaN
278846.0     NaN
Name: The Da Vinci Code, Length: 16397, dtype: float64

In [22]:
user_book_df.corrwith(book_name).sort_values(ascending=False).head()

Book-Title
Silence of the Lambs                                   1.000000
The Da Vinci Code                                      1.000000
Dance upon the Air (Three Sisters Island Trilogy)      1.000000
Unnatural Exposure                                     0.946118
The Divine Secrets of the Ya-Ya Sisterhood: A Novel    0.943242
dtype: float64

In [23]:
rec_book = user_book_df.corrwith(book_name).sort_values(ascending=False).head()
rec_book_list = list(rec_book.index)

rec_book_list

['Silence of the Lambs',
 'The Da Vinci Code',
 'Dance upon the Air (Three Sisters Island Trilogy)',
 'Unnatural Exposure',
 'The Divine Secrets of the Ya-Ya Sisterhood: A Novel']

In [24]:
## Author of 5 books we recommend

df_author = df[["Book-Title", "Book-Author"]]
df_author.head()

df1 = df_author.loc[df_author["Book-Title"].isin(rec_book_list)]

df2 = df1.drop_duplicates(subset=["Book-Author", "Book-Author"], keep="first")

df2

,Book-Title,Book-Author
41270,The Da Vinci Code,Dan Brown
129714,The Divine Secrets of the Ya-Ya Sisterhood: A ...,Rebecca Wells
136418,Unnatural Exposure,Cornwell Patricia
160067,Silence of the Lambs,Thomas Harris
161844,Dance upon the Air (Three Sisters Island Trilogy),Nora Roberts
214997,Unnatural Exposure,Patricia Daniels Cornwell
631889,Unnatural Exposure,Patricia Cornwell

In [25]:
df2.shape

(7, 2)